{% extends 'base.html' %}

{% block content %}
<h3>Register</h3>
<form method="POST">
    {{ form.csrf_token }}
    {{ form.hidden_tag() }}
    {{ form.username.label }}
    {{ form.username }}
    <br>
    {{ form.password.label }}
    {{ form.password }}
    <br>
    {{ form.email.label() }}
    {{ form.email }}
    <br>
    {{ form.first_name.label() }}
    {{ form.first_name }}
    <br>
    {{ form.last_name.label() }}
    {{ form.last_name }}
    <br>
    {{ form.submit }}
</form>
<p>Already have an account? <a href="{{ url_for('login') }}">Login Here.</a></p>
{% endblock %}